<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.prach.mashup.waextractor"
      android:versionCode="1"
      android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".WAExtractor"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
        		<action android:name="com.prach.mashup.WAExtractor"/>
        		<category android:name="android.intent.category.DEFAULT"/>
      		</intent-filter>
      	</activity>
    	
    	<service android:name=".WAEService" android:process=":remote">
    	<intent-filter>
        	<action android:name="com.prach.mashup.WAEService"/>
    	</intent-filter>
    	</service>
    
    	<service android:name=".WAEServiceAIDL" android:process=":remote">
    	<intent-filter>
        	<action android:name="com.prach.mashup.WAEServiceAIDL"/>
    	</intent-filter>
    	</service>
    
    </application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-sdk android:minSdkVersion="14" />
</manifest> 